$main-color: #333333;
$main-color2: #ffffff;
$theme-color: #f76d00;
$sec-bg-color: #edf0f5;
$border-color: #c3cbd7;

//extend

%flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

%flex-end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

%flex-between {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

%flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

%border-setting {
  border: solid 1px $border-color;
  border-radius: 3px;
}

// normalize!
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: sans-serif, "Malgun Gothic", Helvetica, "Apple SD Gothic Neo";
  background-color: $sec-bg-color;
  color: $main-color;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.25px;
}
body,
input,
textarea {
  font-family: sans-serif, "Malgun Gothic", Helvetica, "Apple SD Gothic Neo";
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:link {
  // color: $main-color2;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  background-color: #f2f2f2;
  margin: 20px 0;
  border: 0;
  height: 1px;
  width: 100%;
  float: inherit;
}
div {
  box-sizing: border-box;
}
section {
  width: 1152px;
  min-width: 1152px;
  box-sizing: border-box;
  margin: 0px auto;
}
select {
  height: 36px;
  font-size: 14px;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 165px;
  background-color: $main-color2;
  margin-right: 5px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

// 내용 css

.active {
  border-bottom: solid 2px $theme-color;
  color: $theme-color;
}

header {
  .nav-top-wrap {
    background-color: $theme-color;
    color: $main-color2;
    border-bottom: 1px solid #f36c06;

    a {
      color: $main-color2;
    }

    .nav-top {
      width: 1152px;
      min-width: 1152px;
      height: 55px;
      box-sizing: border-box;
      margin: 0px auto;
      align-content: center;
    }

    .nav-left {
      @extend %flex-start;
      height: 100%;
    }

    .content-bar {
      padding: 0 10px;
    }

    .admin-logo {
      font-size: 16px;
      color: $main-color2;
      margin-right: 10px;
      padding-top: 7px;
    }

    .nav-datalab {
      font-size: 22px;
      font-weight: 700;
    }
  }

  .nav-bottom {
    background-color: $main-color2;
    border-bottom: 1px solid #d8dee4;
    color: #000;

    .menu {
      display: block;
    }

    .tab_admenu {
      width: 1152px;
      min-width: 1152px;
      height: 40px;
      box-sizing: border-box;
      margin: 0px auto;

      ul {
        @extend %flex-start;
        height: 100%;
      }

      li {
        height: 100%;
        padding: 12px 0;
        margin-right: 20px;
        font-size: 14px;
        font-weight: 600;
      }

      .menu {
        display: block;
        height: 100%;
      }
    }
  }
}

// 월간 식단 랭크 페이지
.title-wrap {
  @extend %flex-start;
  border-bottom: 2px solid $border-color;
}

.datalab-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: -1px;
  padding-bottom: 10px;
}

section {
  padding: 34px 0 46px;

  .datalab-subtitle {
    font-size: 14px;
  }

  .select-wrap {
    @extend %flex-between;
    margin: 30px 0;

    .option-select {
      @extend %flex-start;
      vertical-align: middle;

      // 라디오 버튼

      .container-radio {
        display: block;
        position: relative;
        padding-left: 22px;
        cursor: pointer;
        font-size: 14px;
      }

      .container-radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $main-color2;
        border: 1px solid $border-color;
        border-radius: 50%;
      }
      .container-radio:hover input ~ .checkmark {
        background-color: $main-color2;
      }
      .container-radio input:checked ~ .checkmark {
        border: 1px solid $theme-color;
        background-color: $theme-color;
      }
      .container-radio .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      .container-radio input:checked ~ .checkmark:after {
        display: block;
      }
      .container-radio .checkmark:after {
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
      }
      textarea {
        @extend %border-setting;
        width: 100%;
        padding: 16px;
        background-color: #f9f9f9;
        height: 200px;
        resize: none;
      }

      .select-type {
        padding: 5px;

        ul {
          @extend %flex-between;
        }

        li {
          padding-right: 10px;
        }
      }

      .option-content {
        color: #747272;
        height: 30px;
        padding-top: 3px;
        margin: 0 10px;
        opacity: 0.5;
        font-weight: bold;
      }
    }
  }

  .rank-wrap {
    position: relative;

    .region {
      @extend %border-setting;
      width: 243px;
      height: 445px;
      padding: 0 10px 18px;
      margin: 0 5px;
      background-color: $main-color2;
    }

    .region-title {
      width: 100%;
      height: 80px;
      font-size: 22px;
      line-height: 89px;
      text-align: center;

      border-bottom: solid 1px $border-color;
    }

    .food-rank {
      position: relative;
      width: 236px;
      height: 310px;

      margin: 10px 0;
      padding: 0 10px;

      li {
        margin-top: 10px;

        span {
          display: inline-block;
          width: 23px;
          margin-right: 5px;
          color: $theme-color;
        }
      }
    }

    .btn-other {
      @extend %flex-end;
      height: 20px;
      margin-bottom: 5px;
      margin-right: 12px;

      i {
        cursor: pointer;
        font-size: 15px;
      }

      p {
        font-size: 15px;
        margin: 10px;
      }
    }

    // 전체 슬라이드 화살표
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;

      font-size: 0;
      color: transparent;

      width: 71px;
      height: 71px;
      border: solid 2px #929292;
      transform: rotate(45deg);
    }

    .slick-prev {
      left: -74px;
      border-top: none;
      border-right: none;
    }

    .slick-next {
      right: -74px;
      border-bottom: none;
      border-left: none;
    }
  }

  .insight-content-wrap {
    display: none;
  }

  .index-box-wrap {
    @extend %border-setting;
    width: 100%;
    height: 270px;
    background-color: #fff;
    margin: 30px 0;

    .index-box {
      padding: 20px;
      width: 100%;
      height: 209px;
      border-bottom: solid 1px $border-color;
    }

    .btn-submit {
      display: block;
      width: 100%;
      height: 59px;
      background-color: $sec-bg-color;
      text-align: center;

      span,
      i {
        line-height: 59px;
        font-size: 16px;
        font-weight: bold;
        color: $theme-color;
      }
    }
  }

  .insight-box-wrap {
    @extend %flex-between;
    width: 100%;
    height: 880px;

    .clicked-food {
      color: $theme-color;
    }

    .insight-left-box {
      @extend %border-setting;
      width: 820px;
      height: 100%;
      background-color: #fff;
      padding: 20px 40px;
    }

    .click-number-title {
      @extend %flex-start;
      height: 70px;
      width: 100%;
      margin-bottom: 10px;

      h4 {
        font-size: 20px;
      }

      .click-period {
        font-size: 16px;
        padding-left: 14px;
        margin-top: 3px;
        font-weight: 300;
        color: #888;
      }
    }

    .click-number-chart {
      width: 738px;
      height: 404px;

      margin-bottom: 10px;
    }

    .ratio-chart-title {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .ratio-chart {
      @extend %flex-between;

      width: 738px;
      height: 274px;

      .ratio-chart-1 {
        width: 470px;
        height: 100%;
      }

      .ratio-chart-2 {
        width: 738px - 470px;
        height: 100%;
      }
    }
    .insight-right-box {
      @extend %border-setting;
      width: 300px;
      height: 100%;
      background-color: #fff;
      padding: 20px;
    }

    .detail-rank-title {
      height: 70px;
    }

    .rank-title-wrap {
      margin-top: 10px;

      h4 {
        font-size: 20px;
        margin: 0;
      }
      .click-period {
        font-size: 16px;
        margin-top: 5px;
        font-weight: 300;
        color: #888;
      }
    }

    .detail-rank {
      h4 {
        margin: 0 0 20px 0;
      }

      .btn-other {
        @extend %flex-end;

        p {
          margin: 10px;
        }
      }
    }

    .rank-list {
      margin-bottom: 25px;

      li {
        margin-bottom: 13px;
      }

      span {
        display: inline-block;
        width: 23px;
        color: $theme-color;

        margin-right: 5px;
      }

      .fa-solid {
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}
