header .nav-top-wrap .nav-left, header .nav-bottom .tab_admenu ul, .title-wrap, section .select-wrap .option-select, section .insight-box-wrap .click-number-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section .rank-wrap .btn-other, section .insight-box-wrap .detail-rank .btn-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section .select-wrap, section .select-wrap .option-select .select-type ul, section .insight-box-wrap, section .insight-box-wrap .ratio-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

section .select-wrap .option-select textarea, section .rank-wrap .region, section .index-box-wrap, section .insight-box-wrap .insight-left-box, section .insight-box-wrap .insight-right-box {
  border: solid 1px #c3cbd7;
  border-radius: 3px;
}

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: sans-serif, "Malgun Gothic", Helvetica, "Apple SD Gothic Neo";
  background-color: #edf0f5;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

body,
input,
textarea {
  font-family: sans-serif, "Malgun Gothic", Helvetica, "Apple SD Gothic Neo";
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  background-color: #f2f2f2;
  margin: 20px 0;
  border: 0;
  height: 1px;
  width: 100%;
  float: inherit;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 1152px;
  min-width: 1152px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

select {
  height: 36px;
  font-size: 14px;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 165px;
  background-color: #ffffff;
  margin-right: 5px;
}

button {
  background: inherit;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.active {
  border-bottom: solid 2px #f76d00;
  color: #f76d00;
}

header .nav-top-wrap {
  background-color: #f76d00;
  color: #ffffff;
  border-bottom: 1px solid #f36c06;
}

header .nav-top-wrap a {
  color: #ffffff;
}

header .nav-top-wrap .nav-top {
  width: 1152px;
  min-width: 1152px;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .nav-top-wrap .nav-left {
  height: 100%;
}

header .nav-top-wrap .content-bar {
  padding: 0 10px;
}

header .nav-top-wrap .admin-logo {
  font-size: 16px;
  color: #ffffff;
  margin-right: 10px;
  padding-top: 7px;
}

header .nav-top-wrap .nav-datalab {
  font-size: 22px;
  font-weight: 700;
}

header .nav-bottom {
  background-color: #ffffff;
  border-bottom: 1px solid #d8dee4;
  color: #000;
}

header .nav-bottom .menu {
  display: block;
}

header .nav-bottom .tab_admenu {
  width: 1152px;
  min-width: 1152px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

header .nav-bottom .tab_admenu ul {
  height: 100%;
}

header .nav-bottom .tab_admenu li {
  height: 100%;
  padding: 12px 0;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
}

header .nav-bottom .tab_admenu .menu {
  display: block;
  height: 100%;
}

.title-wrap {
  border-bottom: 2px solid #c3cbd7;
}

.datalab-title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: -1px;
  padding-bottom: 10px;
}

section {
  padding: 34px 0 46px;
}

section .datalab-subtitle {
  font-size: 14px;
}

section .select-wrap {
  margin: 30px 0;
}

section .select-wrap .option-select {
  vertical-align: middle;
}

section .select-wrap .option-select .container-radio {
  display: block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  font-size: 14px;
}

section .select-wrap .option-select .container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

section .select-wrap .option-select .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #c3cbd7;
  border-radius: 50%;
}

section .select-wrap .option-select .container-radio:hover input ~ .checkmark {
  background-color: #ffffff;
}

section .select-wrap .option-select .container-radio input:checked ~ .checkmark {
  border: 1px solid #f76d00;
  background-color: #f76d00;
}

section .select-wrap .option-select .container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

section .select-wrap .option-select .container-radio input:checked ~ .checkmark:after {
  display: block;
}

section .select-wrap .option-select .container-radio .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

section .select-wrap .option-select textarea {
  width: 100%;
  padding: 16px;
  background-color: #f9f9f9;
  height: 200px;
  resize: none;
}

section .select-wrap .option-select .select-type {
  padding: 5px;
}

section .select-wrap .option-select .select-type li {
  padding-right: 10px;
}

section .select-wrap .option-select .option-content {
  color: #747272;
  height: 30px;
  padding-top: 3px;
  margin: 0 10px;
  opacity: 0.5;
  font-weight: bold;
}

section .rank-wrap {
  position: relative;
}

section .rank-wrap .region {
  width: 243px;
  height: 445px;
  padding: 0 10px 18px;
  margin: 0 5px;
  background-color: #ffffff;
}

section .rank-wrap .region-title {
  width: 100%;
  height: 80px;
  font-size: 22px;
  line-height: 89px;
  text-align: center;
  border-bottom: solid 1px #c3cbd7;
}

section .rank-wrap .food-rank {
  position: relative;
  width: 236px;
  height: 310px;
  margin: 10px 0;
  padding: 0 10px;
}

section .rank-wrap .food-rank li {
  margin-top: 10px;
}

section .rank-wrap .food-rank li span {
  display: inline-block;
  width: 23px;
  margin-right: 5px;
  color: #f76d00;
}

section .rank-wrap .btn-other {
  height: 20px;
  margin-bottom: 5px;
  margin-right: 12px;
}

section .rank-wrap .btn-other i {
  cursor: pointer;
  font-size: 15px;
}

section .rank-wrap .btn-other p {
  font-size: 15px;
  margin: 10px;
}

section .rank-wrap .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  font-size: 0;
  color: transparent;
  width: 71px;
  height: 71px;
  border: solid 2px #929292;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

section .rank-wrap .slick-prev {
  left: -74px;
  border-top: none;
  border-right: none;
}

section .rank-wrap .slick-next {
  right: -74px;
  border-bottom: none;
  border-left: none;
}

section .insight-content-wrap {
  display: none;
}

section .index-box-wrap {
  width: 100%;
  height: 270px;
  background-color: #fff;
  margin: 30px 0;
}

section .index-box-wrap .index-box {
  padding: 20px;
  width: 100%;
  height: 209px;
  border-bottom: solid 1px #c3cbd7;
}

section .index-box-wrap .btn-submit {
  display: block;
  width: 100%;
  height: 59px;
  background-color: #edf0f5;
  text-align: center;
}

section .index-box-wrap .btn-submit span,
section .index-box-wrap .btn-submit i {
  line-height: 59px;
  font-size: 16px;
  font-weight: bold;
  color: #f76d00;
}

section .insight-box-wrap {
  width: 100%;
  height: 880px;
}

section .insight-box-wrap .clicked-food {
  color: #f76d00;
}

section .insight-box-wrap .insight-left-box {
  width: 820px;
  height: 100%;
  background-color: #fff;
  padding: 20px 40px;
}

section .insight-box-wrap .click-number-title {
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}

section .insight-box-wrap .click-number-title h4 {
  font-size: 20px;
}

section .insight-box-wrap .click-number-title .click-period {
  font-size: 16px;
  padding-left: 14px;
  margin-top: 3px;
  font-weight: 300;
  color: #888;
}

section .insight-box-wrap .click-number-chart {
  width: 738px;
  height: 404px;
  margin-bottom: 10px;
}

section .insight-box-wrap .ratio-chart-title {
  font-size: 20px;
  margin-bottom: 15px;
}

section .insight-box-wrap .ratio-chart {
  width: 738px;
  height: 274px;
}

section .insight-box-wrap .ratio-chart .ratio-chart-1 {
  width: 470px;
  height: 100%;
}

section .insight-box-wrap .ratio-chart .ratio-chart-2 {
  width: 268px;
  height: 100%;
}

section .insight-box-wrap .insight-right-box {
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 20px;
}

section .insight-box-wrap .detail-rank-title {
  height: 70px;
}

section .insight-box-wrap .rank-title-wrap {
  margin-top: 10px;
}

section .insight-box-wrap .rank-title-wrap h4 {
  font-size: 20px;
  margin: 0;
}

section .insight-box-wrap .rank-title-wrap .click-period {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 300;
  color: #888;
}

section .insight-box-wrap .detail-rank h4 {
  margin: 0 0 20px 0;
}

section .insight-box-wrap .detail-rank .btn-other p {
  margin: 10px;
}

section .insight-box-wrap .rank-list {
  margin-bottom: 25px;
}

section .insight-box-wrap .rank-list li {
  margin-bottom: 13px;
}

section .insight-box-wrap .rank-list span {
  display: inline-block;
  width: 23px;
  color: #f76d00;
  margin-right: 5px;
}

section .insight-box-wrap .rank-list .fa-solid {
  font-size: 15px;
  cursor: pointer;
}
